<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568433684146-g81i69irrna3jlm88hn7rbtlj2ib8sf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568433684146-g81i69irrna3jlm88hn7rbtlj2ib8sf0</string>
	<key>API_KEY</key>
	<string>AIzaSyCmOetkasGuIpyfHu-CmIMpx9FLUh70pKA</string>
	<key>GCM_SENDER_ID</key>
	<string>568433684146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezapplyadmin</string>
	<key>PROJECT_ID</key>
	<string>ezapply-838dc</string>
	<key>STORAGE_BUCKET</key>
	<string>ezapply-838dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568433684146:ios:7c5cbfc0a917b48456e3ab</string>
</dict>
</plist>